extends ../layout

block content

	each item in docs
		div
			h3 
				a(href="#{item.url}", target="_blank") #{item.title}
			h6
				em 
					a(href="/author/#{item.authorId}", target="_blank") #{item.author}
					@ #{moment(item.create_at).format('YYYY-MM-DD')}
					
			//- p 地址：#{item.author_location}
			p
				each img in item.imgs
					p #{img}
					img(src="#{img}")
<hr>