extends ../layout

block content

	each item in docs
		div
			p 标题:
				a(href="#{item.url}", target="_blank") #{item.title}
			p 创建时间: #{item.create_at}
			p 作者: 
				a(href="/author/#{item.authorId}", target="_blank") #{item.author}
			p 地址：#{item.author_location}
			p
				each img in item.imgs
					img(src="#{img}")
<hr>